<div id="test" style="position: relative">
    <div id="publishDiv" [ngClass]="{'publishing': publishing}" *ngIf="showShare" #publisherDiv>    
    </div>
    <div id="screenShareDiv" #screenShareDiv *ngIf="!showShare">Screen share is on going</div>
    <!-- <div id="screens"></div> -->
    <!-- <div [ngClass]="{'d-none': showShare}" #screenPreview></div> -->
    <div class="flex-row justify-content-center p-4 controlsContainer">
        <div *ngIf="!showAudio" class="p-2 d-flex flex-column alignDiv" (click)="disableAudio()">                           
            <span class="controlsTxt">Mute</span>
        </div>
        <div *ngIf="showAudio" class="p-2 d-flex flex-column alignDiv" (click)="enableAudio()">                 
            <span class="controlsTxt">Un Mute</span>
        </div>
        <div *ngIf="showVideo && session" class="p-2 d-flex flex-column alignDiv" (click)="enableVideo()" >            
            <span class="controlsTxt">Enable Video</span>
        </div>
        <div *ngIf="!showVideo && session" class="p-2 d-flex flex-column alignDiv" (click)="hideVideo()">
            <span class="controlsTxt">Disable Video</span>
        </div>
        <div *ngIf="showShare && session" 
        class="p-2 d-flex flex-column alignDiv" (click)="enableSharing()">
            <span class="controlsTxt">Share Screen</span>
        </div>
        <div (click) = "closeMeeting()" class="p-2 d-flex flex-column alignDiv">            
            <span class="controlsTxt">Leave Call</span>
        </div>
    </div>
</div>